<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Movie Catalog</title>
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body data-ng-app="App" data-ng-controller="MovieSearchController">
    <div class="container-fluid outerdiv">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        Movie Browser
                    </div>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-5">
                <input type="text" ng-model="title" class="form-control" placeholder="Search Title" autofocus />
            </div>
            <div class="col-md-5">
                <input type="text" ng-model="year" class="form-control" placeholder="Search Year" />
            </div>
            <div class="col-md-2">
                <input type="button" value="Search" class="btn btn-secondary" ng-click="search()"></input>
            </div>
        </div>

        <br>

        <div id="related-results" ng-include="'partials/search-results.html'" class="col-md-12 search-results"></div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/movie.service.js"></script>
    <script src="js/controllers/movie.search.controller.js"></script>
    <script src="js/controllers/movie.info.controller.js"></script>
    <script src="js/filters/substring.filter.js"></script>
    <script src="js/directives/showmore.directive.js"></script>
    <script src="js/directives/rating.directive.js"></script>
</body>

</html>